*~
*.[oa]
*.py[cod]
*.so
*.egg
*.egg-info
*.Rhistory
*.csv
*.zip
*.ods
SQL_export/
R_export/
Py_export/
SQL_import/
graph_outputs/
Reference_datasets/
scripts/create_fluseverity_figs/checks/
scripts/season2_explore.py
scripts/small_attack_rate_explore.sql
Rural_Urban/MCDC_reference.txt
descriptive_age_dynamics.lyx

